body{
    display: flex;
    flex-direction: column;
    background-color: coral;
 
}
#div2{
    background-color: white;
    height: 80vh;
    border: 1px solid black;
    margin: 3px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#name{
    
}
#name_image{
    display:flexbox;
    flex-direction: column;

}